<!DOCTYPE html>
<html>
  <head>
    <title>Trendr</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>
     <% backgrounds = [ 'https://i.imgur.com/VxzWhjc.png', 
                      'https://i.imgur.com/JM8Lc6M.gif',
                      'https://i.imgur.com/IPqDaba.jpg',
                      'https://i.imgur.com/Mjdum7l.jpg',
                      'https://i.imgur.com/RpByB6m.png',
                      'https://i.imgur.com/SO8OwOZ.gif',
                      'https://i.imgur.com/KPHZvIp.gif',
                      'https://i.imgur.com/sPheAG1.jpg',
                      'https://i.imgur.com/bMlzZAJ.gif',
                      'https://i.imgur.com/92CcLcD.jpg',
                      'https://i.imgur.com/vfdiVyS.jpg',
                      'https://i.imgur.com/5AwVKbd.jpg',
                      'https://i.imgur.com/KLfGtoR.jpg',
                      'https://i.imgur.com/8ZbHQZi.jpg',
                      'https://i.imgur.com/qkGi1P1.jpg',
                      'https://i.imgur.com/U7AMQGR.png',
                      'https://i.imgur.com/bMlYVw8.jpg'] %>

    <% imgUrl = backgrounds.sample %>
    <% style =  "background-image: url('#{imgUrl}')" %>
  <body style="<%=style%>">
    <%= yield %>
  </body>
</html>
